<div class="registration-container">
    <div class="registration-card"> <div class="center-header">
            <h1>Registo de Entidade Credenciadora</h1>
        </div>

        <form #ecForm="ngForm" (ngSubmit)="onSubmit(ecForm)">

            <section>
                <h2>Dados da Entidade</h2>

                <mat-form-field appearance="outline">
                    <mat-label>Nome Oficial</mat-label>
                    <input matInput type="text" id="name" name="name" [(ngModel)]="ecData.name" #name="ngModel" required>
                    <mat-error *ngIf="name.invalid">
                        O nome é obrigatório.
                    </mat-error>
                </mat-form-field>

                <div id="tipos">
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo de Entidade</mat-label>
                        <mat-select id="tipo" name="tipo" [(ngModel)]="ecData.tipo" #tipo="ngModel" required>
                            <mat-option value="" disabled>-- Selecione o Tipo de Entidade--</mat-option>
                            <mat-option value="IES">Instituição de Ensino Superior</mat-option>
                            <mat-option value="OS">Organização de Saúde</mat-option>
                            <mat-option value="CP">Certificador Profissional</mat-option>
                            <mat-option value="outro">Outro</mat-option>
                        </mat-select>
                        <mat-error *ngIf="tipo.invalid">
                            O tipo de entidade é obrigatório.
                        </mat-error>
                    </mat-form-field>

                    <div *ngIf="ecData.tipo === 'outro'" class="mt-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Especificar Tipo</mat-label>
                            <input matInput type="text" id="tipoOutro" name="tipoOutro" [(ngModel)]="ecData.tipoOutro" #tipoOutro="ngModel" required>
                            <mat-error *ngIf="tipoOutro.invalid">
                                A especificação do tipo é obrigatória.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>NIF</mat-label>
                    <input matInput type="text" id="nif" name="nif" [(ngModel)]="ecData.nif" #nif="ngModel" required mask="000000000" maxlength="9">
                    <mat-error *ngIf="nif.hasError('required')">
                        O NIF é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="nif.valid && nif.value.length < 9">
                        O NIF deve conter 9 dígitos.
                    </mat-error>
                </mat-form-field>

                <h3>Contactos</h3>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" id="email" name="email" [(ngModel)]="ecData.email" #email="ngModel" required email placeholder="contacto@instituicao.pt">
                    <mat-error *ngIf="email.hasError('required')">
                        O e-mail é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="email.hasError('email')">
                        Formato de e-mail inválido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput type="text" id="tel" name="tel" [(ngModel)]="ecData.tel" #tel="ngModel" required mask="000 000 000" maxlength="18" prefix="+351 | " placeholder="+351 | ">
                    <mat-error *ngIf="tel.hasError('required')">
                        O telefone é obrigatório.
                    </mat-error>
                    </mat-form-field>

            </section>

           <section>
                <h2>Chaves Públicas de Assinatura e Autenticação</h2>

                <div class="file-upload-wrapper">
                    <label>Carregar Chave Pública de Assinatura (Ficheiro .pem):</label>
                    <label for="certificate-file" class="custom-file-upload">
                        <input type="file" id="certificate-file" name="certificateFile" (change)="handleFileUpload($event, 'certificate')" accept=".pem" required/>
                        {{ ecData.certificate ? 'Chave Carregada' : 'Selecione a Chave' }}
                    </label>
                </div>
                
                <div class="file-upload-wrapper">
                    <label>Carregar Chave Pública de Autenticação (Ficheiro .pem):</label>
                
                    <label for="authentication-file" class="custom-file-upload">
                        <input type="file" id="authentication-file" name="authenticationFile" (change)="handleFileUpload($event, 'authenticationKey')" accept=".pem" required/>
                        {{ ecData.authenticationKey ? 'Chave Carregada' : 'Selecione a Chave' }}
                    </label>
                </div>
            </section>
            
            <button mat-raised-button color="primary" type="submit" [disabled]="!ecForm.valid">
                Registar Entidade
            </button>
        </form>
    </div>
</div>