:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  font-size: 16px;
}

.container {
  background-color: var(--background-white);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  max-width: 80vw;   
  overflow: hidden;
}

.registration-card {
  padding: 40px;
}

form{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--purple);
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  max-height: 65vh;
  /* justify-content: center; */
}

.feedback {
  margin-top: 1.5rem;
}

.message {
  text-align: center;
  font-size: 0.95rem;
  margin: 0;
}

.message.success {
  color: #2e7d32;
}

.message.error {
  color: #c62828;
}

.file-upload-wrapper{
  padding: 1rem;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-upload input[type="file"] {
    display: none; 
}

.custom-file-upload {
  background-color: var(--purple);
  color: var(--text-white);
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  max-width: 20vw;
  align-self: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.custom-file-upload:hover {
  transform: scale(1.05);
}

.left button {
  margin-bottom: 50px;
  font-size: 16px;
}

.welcome-section {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20vw;
  background-color: var(--purple);
  color: var(--text-white);
  text-align: center;
  border-radius: 60px 0 0 60px;
}


.logo-bitsofme {
  width: 140px;
  margin: 0 auto 20px auto;
}


.welcome-section button {
  background: none;
  border: 2px solid var(--text-white);
  padding: 10px 40px;
  border-radius: 25px;
  color: var(--text-white);
  cursor: pointer;
  transition: 0.3s;
}

.welcome-section button:hover {
  background-color: rgba(255,255,255,0.25);
}