<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registo de Utilizador</title>

  <link rel="stylesheet" href="user-regist.css">
</head>
<body>
  <div class="container" role="main" aria-label="Formulário de registo e área login">
    <div class="form-section">
      <h2>Sign Up</h2>
      <form class="registo-form" aria-label="Formulário de registo">
        <input type="text" id="username" name="username" placeholder="Username" required />
        <input type="email" id="email" name="email" placeholder="Email" required />
        <input type="password" id="password" name="password" placeholder="Password" required />
        <button type="submit" class="registar">Registar</button>
      </form>
      <!-- <p class="login">Já possui conta? Faça Login</p> -->
      
    </div>
    <div class="welcome-section">
      <img src="C:\Users\Utilizador\Desktop\BOFME STUFF\BitsOfMeLogoRoxo.png" alt="Logotipo BitsOfMe" class="logo-bitsofme"/>
      <p>Já possui conta? Faça Login</p>
      <button type="button" aria-label="Botão de login">Login</button>
    </div>
  </div>
</body>
</html>
