<div class="verification-container">

  <h1>Verificação</h1>
  <p>ID: {{ verificationId }}</p>

  <div class="master-key-box">
    <label>Chave Mestra</label>
    <input type="password" [(ngModel)]="masterKey" placeholder="Insira a chave mestra para desbloquear os dados">
    <button (click)="getVerification()">
      Ver Dados
    </button>
  </div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="verificationData" class="result-box">
    <h2>Dados Verificados</h2>
    <p><strong>Utilizador verificado:</strong> {{ verificationData.verification_user_id }}</p>
    <p><strong>Aceite em:</strong> {{ verificationData.accepted_at | date:'short' }}</p>

    <h3>Informação solicitada:</h3>

      <div *ngFor="let dado of getDadosPessoais()" class="item-dado">
        <div class="dado-header">
          <div class="dado-info">
            <strong>{{ dado.chave }}: </strong> {{ dado.valor }}
          </div>
        </div>
      </div>

     <div *ngFor="let certificado of getCertificados()" class="item-dado">
        <div class="dado-header">
          <div class="dado-info">
            <h3>{{ certificado.nome }}</h3>
            <div *ngFor="let campo of certificado.campos" class="campo-certificado">
              <strong>{{ campo.chave }}:</strong> {{ campo.valor }}
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
