<div class="pedidos-container">
  <!-- Header -->
  <header class="header">
    <nav class="nav-content">
      <div class="nav-left">
        <div class="logo">
          <a routerLink="/home/main-page">
            <img src="logo.png" alt="Logo" class="logo-image">
          </a>
        </div>
      </div>

      <div class="nav-right">
        <button mat-button routerLink="/home/main-page">HOME</button>
        <button mat-button (click)="onLogout()">LOG OUT</button>
      </div>
    </nav>
  </header>

  <!-- Lista de pedidos -->
  <div class="pedidos-list">
    <div *ngIf="loading" class="loading-state">Carregando...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <!-- Nenhum pedido -->
    <div *ngIf="!loading && !error && verifications.length === 0" class="empty-state">
      <h2>Nenhum pedido efetuado</h2>
      <p>Os pedidos efetuados aparecerão aqui.</p>
    </div>

    <div *ngFor="let v of verifications" class="pedido-card">
      <div class="pedido-info">
        <h3>{{ v.verification_data_type_display }}</h3>
        <p class="timestamp">{{ timeLeft(v.expires_at) }}</p>
      </div>

      <div class="pedido-actions">
        <button *ngIf="v.accepted" class="btn-ver" (click)="openVerification(v.verification_id, v.accepted)">
          Visualizar
        </button>
        <span *ngIf="!v.accepted" class="pendente-text">Pendente</span>
      </div>
    </div>
  </div>
</div>