.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #f7f9fc, #e8edf5);
  box-sizing: border-box;
}

.registration-card {
  width: 100%;
  margin-top: 150px;
  max-width: 600px;
  padding: 2rem;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  transform: translateY(-100px);
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  flex-direction: column;
}

button[mat-raised-button] {
  margin-top: 40px;
  border-radius: 50px;
  font-weight: 500;
  padding: 1rem ;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
}

button[mat-raised-button]:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.feedback {
  margin-top: 1.5rem;
}

.message {
  text-align: center;
  font-size: 0.95rem;
  margin: 0;
}

.message.success {
  color: #2e7d32;
}

.message.error {
  color: #c62828;
}

.file-upload-wrapper{
  padding: 1rem;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-upload input[type="file"] {
    display: none; 
}

.custom-file-upload {
    font-size: 14px;
    border: 1px solid #ccc;
    cursor: pointer; 
    color: rgb(22, 20, 20); 
    margin-top: 20px;
    border-radius: 20px;
    padding: 1rem ;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;
}

.custom-file-upload:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}