<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <title> User Register</title>
  </head>
<div class="container" role="main">
  <div class="form-section">

    <h2>Registo de Utilizador</h2>

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="registo-form">

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input 
          matInput 
          type="text"
          name="username"
          id="username"
          required
          [(ngModel)]="userData.username"
          #username="ngModel"
        >

        <mat-error *ngIf="username.invalid && username.touched">
          O username é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          id="email"
          required
          email
          [(ngModel)]="userData.email"
          #email="ngModel"
        >

        <mat-error *ngIf="email.errors?.['required'] && email.touched">
          O email é obrigatório.
        </mat-error>

        <mat-error *ngIf="email.errors?.['email'] && email.touched">
          Introduza um email válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="nome"
          name="nome"
          id="nome"
          required
          minlength="1"
          [(ngModel)]="userData.nome"
          #nome="ngModel"
        >

        <mat-error *ngIf="nome.errors?.['required'] && nome.touched">
          O nome é obrigatório.
        </mat-error>

        <mat-error *ngIf="nome.errors?.['minlength'] && nome.touched">
          O nome não pode ser vazio.
        </mat-error>
      </mat-form-field>

      <button 
        mat-raised-button
        color="primary"
        type="submit"
        class="registar"
        [disabled]="!userForm.valid"
      >
        Registar
      </button>

    </form>
  </div>

  <div class="welcome-section">
    <img src="logo.png" alt="Logotipo BitsOfMe" class="logo-bitsofme"/>

    <p>Já possui conta? Faça Login</p>
    <button type="button" (click)="goToLogin()">Login</button>
  </div>
</div>
