:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}


.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  width: 950px;       
  max-width: 95%;
  overflow: hidden;
}


.form-section, .welcome-section {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}


.form-section h2 {
  margin-bottom: 35px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1;
  color: #5e17eb;
}


.registar {
  margin-top: 20px;
  border-radius: 30px !important;
  padding: 15px 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.registo-form button.registar {
  margin-top: 30px;
  width: 100%;
  display: block;
}

mat-form-field {
  margin-bottom: 15px;
  width: 100%;
}



.welcome-section {
  background-color: #5e17eb;
  color: white;
  text-align: center;
  border-radius: 60px 0 0 60px;
}


.logo-bitsofme {
  width: 140px;
  margin: 0 auto 20px auto;
}


.welcome-section button {
  background: none;
  border: 2px solid white;
  padding: 10px 40px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.welcome-section button:hover {
  background-color: rgba(255,255,255,0.25);
}
