.user-login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #5e17eb;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  text-align: left;
}

.center-header h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #5e17eb;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}


.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

button[mat-raised-button] {
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  background-color: #5e17eb;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[mat-raised-button]:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  background-color: #7f3ffb;
}

.feedback {
  margin-top: 20px;
}

.message {
  text-align: center;
  font-size: 0.95rem;
  margin: 0;
}

.message.success {
  color: #2e7d32;
}

.message.error {
  color: #c62828;
}



button.registar {
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  background-color: #5e17eb;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button.registar:hover {
  background-color: #7f3ffb;
}

button.registar:disabled {
  background-color: var(--light-purple) !important;
  color: var(--text-dark);
  cursor: not-allowed;
  opacity: 0.7;
}




